@layer reset, default, components, utilities;

@layer reset {
  *,
  ::before,
  ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img {
    display: block;
    max-inline-size: 100%;
  }
  ul,
  ol {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

@layer default {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    src: local("Inter"),
      url("assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  }

  :root {
    --font-base: "Inter", "sans-serif";
    --white: #ffffff;
    --black: #000000;
    --grey-300: #c5c6ce;
    --grey-200: #d8d8d8;
    --navy-950: #00001a;
    --navy-600: #5e607a;
    --gold-400: #e9aa52;
    --red-500: #f15d51;
    --font-40-56-768-1280: clamp(2.5rem, 1rem + 3.125vw, 3.5rem);
    --space-24-32-768-1280: clamp(1.5rem, 0.75rem + 1.5625vw, 2rem);
  }

  body {
    font-family: var(--font-base);
  }

  h1 {
    font-size: var(--font-40-56-768-1280);
    line-height: 1;
  }

  h2 {
    font-weight: 700;
    font-size: 2rem;
  }

  h3 {
    font-size: 1.125rem;
    line-height: calc(24 / 18);
  }

  h1,
  h3 {
    font-weight: 800;
  }

  p {
    line-height: calc(26 / 15);
    color: var(--grey-300);
    font-size: 0.9375rem;
  }
  main {
    display: contents;

    @media (min-width: 1280px) {
      display: grid;
      grid-template-columns: 730px 350px;
      gap: 32px;
    }
  }
}

@layer components {
  .container {
    max-inline-size: 1112px;
    display: grid;
    gap: 64px;
    place-items: center;
    container-type: inline-size;
  }
  .anchor-button {
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    letter-spacing: 4.38px;
    line-height: calc(24 / 14);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--navy-950);
    background-color: #f15d51;
    padding: 0.75rem 2rem;
    max-inline-size: fit-content;
    transition: all 150ms ease-in-out;

    &:hover {
      background-color: var(--navy-950);
      color: var(--white);
    }
    &:is(:focus, :focus-visible) {
      outline: 1px solid var(--navy-950);
    }
  }

  .main-article {
    & img {
      inline-size: 100%;
      object-fit: cover;
    }
    & .article-content {
      margin-block-start: 1.5rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: var(--space-24-32-768-1280);
      & > * {
        flex: 1;
        min-width: 300px;
      }
    }
    & .article-cta {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: var(--space-24-32-768-1280);
    }
  }

  .article-card {
    background-color: var(--navy-950);
    padding: 1.34375rem 1.5rem;
    & h2 {
      color: var(--gold-400);
      line-height: 32px;
    }
    ul {
      margin-block-start: 2rem;
      & li + li:before {
        content: "";
        display: block;
        inline-size: 100%;
        border-block-start: 1px solid var(--navy-600);
        margin-block: 2rem;
      }
      & li p {
        margin-block-start: 0.5rem;
      }
    }

    h3 {
      line-height: calc(24 / 20);
      font-size: 1.25rem;
      & a {
        color: var(--white);
        &:hover {
          color: var(--gold-400);
        }
        &:is(:focus, :focus-visible) {
          outline: 1px solid var(--gold-400);
        }
      }
    }
  }

  .popular-articles {
    & ol {
      display: flex;
      flex-direction: column;
      li {
        min-width: 300px;
        display: flex;
        gap: 1.5rem;
      }
      @container (min-width : 1028px) {
        flex-direction: row;
      }
      & img {
        max-inline-size: 100px;
        object-fit: cover;
        height: 100%;
      }
    }
  }
  .article-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

@layer utilities {
  .sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
}
